/*
Copyright (C) 2014 NautDrafter

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


/*
Base stylesheet for the NautDrafter UI.
For now, this is not a complete skin - it relies on the Java 8 default Modena skin (which can be explicitly set as the default from the main class if need be).
*/

/*=============================================
 * GENERAL
 *=============================================*/
@font-face {
    font-family: Play; // JFX CSS seems to ignore this name, need to look into it
    src: url('/assets/fonts/play/Play-Regular.ttf');
}

/* Variables 
---------------------*/
.root {
    /* Colours */
    -col-primary: rgb(12, 164, 192);
    -col-primary-trans: rgba(12, 164, 192, 0.4);
    -col-primary-active: rgba(78, 228, 255, 0.8);
    
    -col-secondary: rgb(252, 181, 18);
    -col-secondary-trans: rgba(252, 181, 18, 0.4);
    -col-secondary-active: rgba(255, 198, 0, 0.8);
    
    /* Overriding Modena presets, for elements that aren't explicitly styled by us 
    * Comment out to make it easier to explicitly style stuff
    */
    
    -fx-base: #232732;
    -fx-text-base-color: white;
    -fx-background: derive(-fx-base, 10%);
    -fx-text-background-color: white;
    -fx-text-inner-color: white;
    -fx-control-inner-color: red;
    -fx-selection-bar: -col-primary;
    
    
    -col-text-base: white;
    -col-base: #01415a;
}

/* Global/general
---------------------*/
.root {
    -fx-font: 17px Play, sans-serif;
    -fx-background-color: -col-base;
    -fx-background-image: url(/assets/images/bg.png), url(/assets/images/bg-stars.png);
    -fx-background-size: cover, cover;
    -fx-background-position: 50% 50%, 50% 50%;
}

.root #main {
    -fx-padding: 20px 10px 10px 10px;
}

HBox, VBox,TeamSelectionScreen {
    -fx-spacing: 5px;
}

.padded-top {
    -fx-padding: 10px 0 0 0;
}

.label {
    -fx-text-fill: -col-text-base;
}

.hyperlink, .hyperlink:visited {
    -fx-text-fill: -col-primary;
}

Separator .line {
    -fx-background: derive(-col-base, -10%);
}

/*=============================================
 * CLICKY LOOKING THINGS
 *=============================================*/
.text-field, 
.pasword-field,
.button,  
.choice-box, 
.combo-box-base,
.combo-box-base:editable > .arrow-button, 
.menu-button, 
.split-menu-button > .label, 
.split-menu-button > .arrow-button {
    -fx-padding: 10px;
    -fx-background-insets: 0, 1, 3;
    -fx-background-radius: 2px;
}

.button, 
.choice-box, 
.context-menu,
.combo-box-base,
.combo-box-base:editable > .arrow-button, 
.menu-button, 
.split-menu-button > .label, 
.split-menu-button > .arrow-button {
    -fx-background-color: -col-primary-active, -col-base, linear-gradient(to top, derive(-col-primary-trans, -20%), -col-primary-trans);
}

/* team picker things*/
.blue-team .toggle-me:hover{
    -fx-effect: dropshadow(three-pass-box, rgb(50, 50, 255), 20, 0, 0, 0);
}
.red-team  .toggle-me:hover{
    -fx-effect: dropshadow(three-pass-box, rgb(255, 50, 50), 20, 0, 0, 0);
}
.blue-team .toggle-me{
    -fx-effect: dropshadow(three-pass-box, blue, 15, 0, 0, 0);
    -fx-padding: 0px;
}
.red-team  .toggle-me{
    -fx-effect: dropshadow(three-pass-box, red, 15, 0, 0, 0);
    -fx-padding: 0px;
}

/* Setting the fill colour of clicky-things' main labels */
.button,  
.choice-box > .label, 
.combo-box-base > .list-cell:selected,
.menu-button > .label, 
.split-menu-button > .label {
    -fx-text-fill: -col-text-base;
    -fx-text-fill: -col-text-base;
}

/* Button specific
----------------------*/

.button:cancel {
    // Swapping out the base colours, which will automatically be used for the fill and be inherited by the button states (e.g. hover)
    -col-primary-active: -col-secondary-active;
    -col-primary: -col-secondary;
    -col-primary-trans: -col-secondary-trans;
}

.button:hover {
    -col-primary: -col-primary-active;
    -col-primary-trans: -col-primary;
    -fx-effect: dropshadow(three-pass-box, -col-primary, 15, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: -col-primary-active, -col-base, linear-gradient(to bottom, derive(-col-primary-trans, -0%), -col-primary-trans);
    -fx-effect: dropshadow(three-pass-box, -col-primary, 30, 0, 0, 0);
}

.button:pressed > .text {
    -fx-background-color: -col-primary-active, -col-base, linear-gradient(to bottom, derive(-col-primary-trans, -0%), -col-primary-trans);
    -fx-effect: dropshadow(three-pass-box, -col-text-base, 20, 0, 0, 0);
}

/*=============================================
 * TEXT INPUT CONTROLS
 *=============================================*/
.text-field, .pasword-field {
    -fx-background-color: -col-primary, -col-base, rgba(0,0,0,0.2);
    -fx-text-fill: -col-text-base;
    -fx-prompt-text-fill: derive(-col-text-base, -60%);
}

.pasword-field:focused, .text-field:focused {
    -fx-background-color: -col-primary-active, -col-base, rgba(0,0,0,0.2);
    -fx-effect: dropshadow(three-pass-box, -col-primary, 15, 0, 0, 0);
}

/*=============================================
 * TABLEVIEWS
 *=============================================*/

.table-view,
.tree-table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-table-cell-border-color: transparent;
}

/* Column Headers
----------------------*/
/* Entire area behind the column headers */
.table-view > .column-header-background,
.tree-table-view > .column-header-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent linear-gradient(from 0% 0% to 50% 0%, reflect, transparent, -col-primary 10%) transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-padding: 0;
}

/*  The individual column headers.
    Filler is the extra space shown when the columns don't fill the whole width.  */
.table-view .column-header,
.tree-table-view .column-header,
.table-view .filler,
.tree-table-view .filler {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

/* Labels on the individual column headers */
.table-view .column-header .label,
.tree-table-view .column-header .label {
    -fx-text-fill: -col-primary-active;
    -fx-font-weight: normal;
    -fx-alignment: CENTER_LEFT;
}

/* Giving headers a subtle glow when clicked */
.table-view .column-header:pressed .label,
.tree-table-view .column-header:pressed .label {
    -fx-effect: dropshadow(three-pass-box, -col-primary, 20, 0, 0, 0);
} 

/* Sorting arrows for columns */
.table-view .column-header .arrow,
.tree-table-view .column-header .arrow {
    -fx-background-color: -col-primary;
    -fx-padding: 0.15em 0.3em;
    -fx-shape: "m 0,1049.7543 2.3094242,2.6079 2.3094241,-2.6079 z";
}

.table-view .column-header,
.tree-table-view .column-header {
    /* Padding the right side of column headers, so the sorting arrow has some space */
    -fx-padding: 0 10px 0 0;
}

.table-view .column-drag-header,
.tree-table-view .column-drag-header {
    -fx-background-color: -col-primary-active;    
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-resize-line,
.tree-table-view .column-resize-line {
    -fx-background-color: -col-primary;    
    -fx-effect: dropshadow(three-pass-box, -col-primary, 30, 0, 0, 0);
}

/* Table Rows & Cells
----------------------*/
.table-row-cell,
.tree-table-row-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-text-fill: -col-text-base;
}

.table-view .cell,
.tree-table-view .cell {
    -fx-text-fill: -col-text-base;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-alignment: center-left;
}

/* Selected row of the table */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected, 
.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:focused:selected:hover,
.tree-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:focused:selected:hover {
    -fx-background-color: -col-primary-trans;
    -fx-background-color: linear-gradient(from 0% 0% to 50% 0%, reflect, transparent, -col-primary-trans 10%);
}

/*=============================================
 * SCROLLBARS
 *=============================================*/
.scroll-bar {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.scroll-bar .track-background, 
.scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-radius: 2px;
    -fx-background-color: -col-primary-trans;
}

.scroll-bar .increment-button, 
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar:horizontal .increment-arrow, 
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: transparent;
    
    /* Overall scrollbar height is set by the button's padding '*/
    -fx-padding: 15px 0 0 0;
}

.scroll-bar:vertical .increment-arrow, 
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
    -fx-padding: 0 15px 0 0; 
}

.scroll-bar:hover {
    -fx-opacity: 1;
}

.scroll-bar:hover .thumb {
    -fx-effect: dropshadow(three-pass-box, -col-primary, 30, 0, 0, 0);
}